.page__wrapper {
  margin: 0 auto;
  max-width: 1140px;
  width: calc(1140/1280*100%);
}

@media screen and (max-width: 1023px) {
  .page__wrapper {
    width: calc(668/768*100%);
  }
}

@media screen and (max-width: 767px) {
  .page__wrapper {
    width: calc(284/320*100%);
  }
}
